@use "../../styles/helpers/variables" as *;
@use "../../styles/helpers/mixins" as *;

.sign-up {
    @include flex(center, center);
    height: 100vh;

    h2 {
        margin-bottom: 20px;
        font-size: 35px;
        text-align: center;
    }


    .message {
        padding-left: 3px;
        margin-bottom: 10px;
        max-width: 300px;
        font-weight: bold;
        color: #f44336;
    }

    .to-log-in {
        font-size: 15px;
        text-align: center;
        a {
            transition: 0.3s;
            &:hover {
                font-weight: bold;
            }
        }
    }

}