@use "../../styles/helpers/variables" as *;
@use "../../styles/helpers/mixins" as *;



.profile-container {
    .container {
        @include flex(center, center);
        .box {
            text-align: center;
            .username {
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: bold;
            }
            .email {
                margin-bottom: 20px;
                color: #aaa;
            }

        }
    }
}