@use "../../styles/helpers/variables" as *;
@use "../../styles/helpers/mixins" as *;

.dashboard-container {
    .container {
        @include flex(center, center);
        .box {
            padding: 20px;
            width: 800px;
            max-width: 100%;
            box-shadow: 0 0 10px 0 rgba($main-color, 0.8), 0 0 15px 0 rgba($main-color, 0.6);
            border: 2px solid $main-color;
            h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            .tasks-section, .delete-task-section {
                ul {
                    margin-bottom: 20px;
                    li {
                        margin-bottom: 20px;
                        padding: 20px;
                        width: 100%;
                        font-size: 18px;
                        text-align: center;
                        box-shadow: 0 0 10px 0 rgba($main-color, 1) inset, 0 0 15px 0 rgba($main-color, 0.8) inset;
                        border: 2px solid $main-color;
                        border-radius: 6px;
                        user-select: none;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            box-shadow: 0 0 10px 0 rgba($main-color, 1) inset, 0 0 15px 0 rgba($main-color, 0.8) inset, 0 0 20px 0 rgba($main-color, 0.6) inset;
                        }
                        &.empty {
                            opacity: 0.7;
                            pointer-events: none;
                            &.hide {
                                display: none;
                            }
                        }
                    }
                }
            }

            .tasks-section {
                ul {
                    li {
                        &.disable {
                            text-decoration: line-through;
                            opacity: 0.7;
                        }
                    }
                }
            }

            .delete-task-section {
                ul li {
                    &.selected {
                        box-shadow: 0 0 10px 0 rgba($main-color, 1) inset, 0 0 15px 0 rgba($main-color, 0.9) inset, 0 0 20px 0 rgba($main-color, 0.8) inset, 0 0 25px 0 rgba($main-color, 0.7) inset;
                    }
                }
            }

            .create-task-section {
                input {
                    margin-right: auto;
                    margin-left: auto;
                    display: block;
                    width: 400px;
                }
            }

            .tasks-section,
            .create-task-section,
            .delete-task-section {
                &.hide {
                    display: none;
                }
                .controls-container {
                    @include flex(center, center, 20px);
                    span {
                        margin-top: 20px;
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }
            
        }
    }
}